
@model List<ItemDTO>

@if(TempData["msg"] != null)
{
    <h3 class="text-bg-warning">@TempData["msg"]</h3>
}
<div>
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>Item List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Item" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New</a>
        </div>
    </div>
</div>
<div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Category</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ItemName</td>
                <td>@item.ItemUnit</td>
                <td>@item.Quantity</td>
                <td>@item.Category.CategoryName</td>
                <td>
                        <a asp-controller="Item" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                    @* <a asp-controller="Category" asp-action="Details" asp-route-id="@cat.Id" class="btn btn-info">Details</a> *@
                        <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>